= bootstrap_form_for @trip, turboboost: true do |f|
  = f.text_field :destination
  = f.date_select :start_date
  = f.date_select :end_date
  = f.text_area :comment
  = f.submit 'Save', class: 'btn btn-primary'
