%h1 Listing trips

- if @trips.size > 2
  = form_tag search_trips_path, id: 'trips-search' do
    = text_field_tag :q, '', placeholder: 'Search'
    = button_tag :Go

%table#trips-list
  %thead
    %tr
      %th Destination
      %th Start date
      %th End date
      %th Starts in
      %th Comment
      %th
      %th
      %th
  %tbody
    = render partial: 'list', locals: {trips: @trips}

%br

= link_to 'New Trip', new_trip_path

= javascript_include_tag 'search'
