%h1 Listing trips

- if notice
  .alert.alert-info.alert-dismissible
    %button.close{'data-dismiss' => 'alert'} &times;
    = notice

- if @trips.size > 2
  = form_tag search_trips_path, method: :get, authenticity_token: false, id: 'trips-search', class: 'form-inline' do
    = text_field_tag :q, '', class: 'form-control', placeholder: 'Search'
    = button_tag :Go, class: 'btn btn-default'

%table#trips-list.table.table-hover
  %thead
    %tr
      %th Destination
      %th Start date
      %th End date
      %th Starts in
      %th Comment
      %th
      %th
      %th
  %tbody
    = render partial: 'list', locals: {trips: @trips, empty_message: 'No trips yet'}

= link_to 'New Trip', new_trip_path
\|
= link_to 'Travel Plan for Next Month', travelplan_trips_path, target: :_blank

= javascript_include_tag 'search'
