- if notice
  .alert.alert-info
    = notice

%p
  %strong Destination
  %br
  = @trip.destination

%p
  %strong Start date
  %br
  = @trip.start_date

%p
  %strong End date
  %br
  = @trip.end_date

- if @trip.comment.present?
  %p
    %strong Comment
    %br
    = @trip.comment

= link_to 'Edit', edit_trip_path(@trip)
\|
= link_to 'Back', trips_path
