- if notice
  %br
  .alert.alert-danger
    = notice

%h2= t(".title")
.row
  .col-sm-5
    = render partial: '/sessions/form'

%br
- if Clearance.configuration.allow_sign_up?
  = link_to t(".sign_up"), sign_up_path
\|
= link_to t(".forgot_password"), new_password_path
